#buildyourown {
    width: 100vw;
    height: 90vh;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        color: white;
        font-size: 180px;
        text-align: center;
        text-shadow: 5px 5px 5px magenta;
    }
}

@media only screen and (max-width: 1400px) {
    #buildyourown {
        h1 {
            font-size: 120px !important;
        }
    }
}
@media only screen and (max-width: 900px) {
    #buildyourown {
        h1 {
            width: 600px;
            white-space: normal !important;
        }
    }
}
@media only screen and (max-width: 570px) {
    #buildyourown {
        h1 {
            font-size: 15vw !important;
            white-space: normal !important;
        }
    }
}
