@mixin res($maxwidth) {
    @media only screen and (max-width: $maxwidth) {
        @content;
    }
}

@mixin aboutres($maxwidth, $scale) {
    @media only screen and (max-width: $maxwidth) {
        #about {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 10vh;

            #profileimage-name {
                display: flex;
                align-items: flex-end;
                margin-left: 20px * $scale;
                width: 1580px * $scale;

                #profileimage {
                    width: 350px * $scale;
                    z-index: 2;
                }

                h1 {
                    background-color: #00ffe0;
                    padding: 10px * $scale 20px * $scale;
                    padding-left: 80px * $scale;
                    margin-left: -50px * $scale;
                    z-index: 1;
                    border-radius: 20px * $scale;
                    font-size: 60px * $scale;
                }
            }

            #navigationdefault-socials-aboutcontent-spotify {
                background-image: linear-gradient(45deg, #dbff00, #ff00d6, #32ffff);
                padding: 20px * $scale;
                border-radius: 20px * $scale;
                margin-top: -100px * $scale;
                padding-top: 140px;
                display: inline-flex;
                align-items: flex-start;
                width: fit-content;
                width: 1560px * $scale;
                position: relative;

                #navigationdefault-socials {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    #navigationdefault {
                        background-image: linear-gradient(rgb(174, 0, 255), red);
                        padding: 15px * $scale;
                        border-radius: 20px * $scale;
                        display: grid;
                        grid-template-columns: repeat(2, 85px * $scale);
                        grid-template-rows: repeat(3, 85px * $scale);
                        // grid-gap: 10px;
                        width: fit-content;
                        i {
                            font-size: 70px * $scale;
                            text-align: center;
                        }
                    }

                    #socials {
                        margin-top: 20px * $scale;
                        width: 95%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        img {
                            width: 85px * $scale;
                        }
                    }
                }

                #aboutcontent {
                    width: 73%;
                    margin-left: 5%;
                    margin-top: 1%;
                    font-size: 24px * $scale;
                }

                #spotify {
                    position: absolute;
                    top: 20px * $scale !important;
                    right: 20px * $scale;
                    width: 230px * $scale;
                }
            }
        }
    }
}

@include aboutres(1900px, 0.8);
@include aboutres(1350px, 0.75);
@include aboutres(1250px, 0.7);
@include aboutres(1150px, 0.6);

@media only screen and (max-width: 1100px) {
    #about {
        height: max-content;
        margin: 0px;
        height: max-content;
        margin-top: 100px;
        width: 98vw;
        margin-bottom: 10vh;

        #profileimage-name {
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            position: absolute;
            top: 0px;
            margin-left: 0px;
            width: 500px;
            margin-top: 5vh;
            h1 {
                padding-left: 20px;
                font-size: 36px;
                margin-left: 0px;
                margin-top: 0px;
                background-color: transparent;
            }
        }
        #navigationdefault-socials-aboutcontent-spotify {
            width: 80vw;
            padding-top: 20px;
            flex-direction: column;
            align-items: center;
            margin-top: 0px;
            padding-bottom: 75px;
            margin-top: 6vh;

            #navigationdefault-socials {
                #navigationdefault {
                    display: none;
                }

                #socials {
                    flex-direction: row;
                    width: 404.688px;
                    justify-content: space-between;
                    img {
                        margin: 10px 0px;
                    }
                }
            }
            #aboutcontent {
                text-align: center;
                font-size: 24px;
                margin-left: 0px;
                margin-top: 70px;
            }

            #spotify {
                right: 29%;
                width: 232px;
                top: auto !important;
                bottom: -20px !important;
            }
        }

        #github {
            display: none;
        }
    }

    #NavigationBottom {
        display: flex;
    }
}

@mixin phoneres($maxwidth, $scale) {
    @media only screen and (max-width: $maxwidth) {
        #about {
            #profileimage-name {
                width: 500px * $scale;

                #profileimage {
                    width: 200px * $scale;
                }
                h1 {
                    padding-left: 20px * $scale;
                    font-size: 40px * $scale;
                    margin-top: 3vh;
                }
            }
            margin-top: 100px * $scale;
            width: 97vw;
            margin-bottom: 10vh;

            #navigationdefault-socials-aboutcontent-spotify {
                padding-top: 20px * $scale;
                padding-bottom: 75px * $scale;
                width: 80vw;
                #navigationdefault-socials {
                    #socials {
                        margin-top: 10px * $scale;
                        width: 400px * $scale;

                        img {
                            width: 65px * $scale;
                            margin: 0px;
                        }
                    }
                }
                #aboutcontent {
                    font-size: 24px * $scale;
                    margin-left: 0px;
                    margin-top: 70px;
                }

                #spotify {
                    right: 130px * $scale;
                    bottom: -20px * $scale !important;
                    width: 232px * $scale;
                }
            }
        }
    }
}

@include phoneres(500px, 0.8);
@include phoneres(415px, 0.7);
@include phoneres(400px, 0.65);
@include phoneres(350px, 0.6);
@include phoneres(320px, 0.55);

@include res(400px) {
    #NavigationBottom {
        i {
            font-size: 10vw;
        }
    }
}
